{% extends "layout.html" %}
{% block body %}
<section class="section">
	<div class="container">
		<div class="tile box">
			<ul>
				<li>Neural Network Framwork: <a href="http://arxiv.org/abs/1512.03385">ResNet-50</a></li>
				<li>Model trained with: <a href="https://github.com/fastai/fastai">fast.ai v1</a></li>
				<li>Web interface developed with: <a href="http://flask.pocoo.org">flask</a>, <a href="https://plot.ly">plot.ly</a> and <a href="https://bulma.io">bulma</a>.</li>
				<li>Created by <a href="https://www.christianwerner.net">C. Werner</a></li>
			</ul>
		</div>
	</div>
</section>
{% endblock %}