{% extends "layout.html" %}
{% block body %}
<section class="section">
  <div class="container">
    <div class="article notification is-danger">
      <p><strong>Oh, something is wrong!</strong><br>
      Possibly:
      <ol style="padding-left:40px">
        <li>a wrong endpoint</li>
        <li>an unsupported image extension (only use jpg, png, bmp)</li>
        <li>an image name that is too long or has invalid characters</li>
      </ol>

      Please go back to the <a href="/"><b>main page</b></a> and try again.</p>
    </div>
  </div>
</section>
{% endblock %}