<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

        <nav class="navbar is-info" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item is-hoverable" href="/">AxeNet</a>
                    <a class="navbar-item is-hoverable" href="/about">About</a>
         
                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
        
                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item is-hoverable" href="https://www.christianwerner.net">Who made this?</a>
                    </div>
                </div>
            </nav>
        
    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    AxeNet
                </h1>
                <h2 class="subtitle">
                    "Now, tell me what guitar I'm looking at... !!!"
                </h2>
            </div>
        </div>
    </section>



    {% block body %}{% endblock %}

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                Created by <a href="http://www.christianwerner.net">C. Werner</a>, Nov 2018
            </p>
        </div>
    </footer>

<script type="text/javascript" src="{{ url_for('static', filename='js/bulma.js') }}"></script>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>

<script type="text/javascript">
    var graph = {{graphJSON | safe}};
    Plotly.plot("graph-0", graph.data, graph.layout, {displayModeBar: false, showLink: false});
  </script>
</body>
</html>