<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    AxeNet
                </h1>
                <h2 class="subtitle">
                    "Now, tell me what guitar I'm looking at... !!!"
                </h2>
            </div>
        </div>
    </section>

    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item is-hoverable" href="/"> home </a>
                <a class="navbar-item is-hoverable" href="/about"> about </a>
            </div>
        </div>
    </nav>


    {% block body %}{% endblock %}

<div class="container">
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                Created by <a href="http://www.christianwerner.net">C. Werner</a>, Nov 2018
            </p>
        </div>
    </footer>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/bulma.js') }}"></script>
</body>
</html>